<div class="container">
  <div class="card--container">
    <h1 class="text-3xl font-bold text-center text-white">
      Open for Dev Work.
    </h1>
  <div class="image--container">
    <div>
      <h3>Scott Muangsrichan</h3>
      <ul class="tech--list">
        <li><i class="fa-brands fa-react"></i></li>
        <li><i class="fa-brands fa-angular"></i></li>
        <li><i class="fa-brands fa-square-js"></i></li>
        <li><i class="fa-brands fa-node-js"></i></li>
      </ul>
    </div>
    <img class="image" src="../assets/pics/profilePic.jpg" alt="Scott Muangsrichan Profile Picture"> 
  </div>
  <div class="flex
    flex-col
    w-50
    items-center
    gap-5
  ">
    <button class="link--button">New idea of mine.</button>
    <button class="link--button">HQ - Main website</button>
    <button class="link--button">
      <a href="mailto: scottmuang@gmail.com">Contact Me</a>
    </button>
    <p class="made--by--me">PS I made this :)</p>
  </div>
  </div>
</div>